<!-- header start -->
    <header class="header">
      <div class="container">
        <div class="row justify-content-between aling-items-center">
          <div class="logo">
            <a href="#"><img src="Theme/img/logo.png" alt="logo"></a>
          </div>
          <button type="button" class="nav-toggler">
            <span></span>
          </button>
          <nav class="nav">
            <ul>
              <li class="nav-item"><a href="#home">خانه</a></li>
              <li class="nav-item"><a href="#about">درباره ما</a></li>
              <li class="nav-item"><a href="#our-menu">منو غذا</a></li>
              <li class="nav-item"><a href="#testimonials">توضیحات</a></li>
              <li class="nav-item"><a href="#team">تیم</a></li>
              <li class="nav-item"><a href="#footer">ارتباط</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
<!-- header end -->