<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
  <title>
    {% block title %}
      
    {% endblock title %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
  <link rel="stylesheet" href="{% static "css/aos.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

    <!-- page loader start-->
    <div class="page-loader"></div>
    <!-- page loader end-->
    
    <!-- header start -->
        {% include "partials/_header.html" %}
    <!-- header end -->
    
    {% block content %}
      
    {% endblock content %}
    
    <!-- footer start-->
        {% include "partials/_footer.html" %}
    <!-- footer end-->
