{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
  Home page -Shandiz Restaurant
{% endblock title %}

{% block content %}
<!-- home section start -->
<section class="home-section" id="home">
  <div class="home-bg"></div>
  <div class="container">
    <div class="row min-vh-100 align-items-center">
      <div class="home-text" data-aos="fade-up" data-aos-duration="1000">
        <h1>رستوران پدیده شاندیز</h1>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        <a href="#our-menu" class="btn btn-default">منو غذاها</a>
      </div>
    </div>
  </div>
</section>
<!-- home section end -->

<!-- about section start -->
<section class="about-section sec-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 data-title="داستان ما" data-aos="fade-up">درباه ما</h2>
      </div>
    </div>
    <div class="row">
      <div class="about-text" data-aos="fade-left">
        <h3>خوش آمدید به رستوران پدیده شاندیر</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...</p>
        <a href="#our-menu" class="btn btn-default">منو غذاها</a>
      </div>
      <div class="about-img" data-aos="fade-right">
        <div class="img-box">
          <h3>20 سال سابقه</h3>
          <img src="{% static 'img/about-img.jpg' %}" alt="about img">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->

<!-- menu section start -->
<section class="menu-section sec-padding" id="our-menu">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 data-title="اکنون سفارش دهید" data-aos="fade-up">منو غذا ها</h2>
      </div>
    </div>
    <div class="row">
      <div class="menu-tabs" data-aos="fade-up">
        <button type="button" class="menu-tab-item active" data-target="#lunch">ناهار</button>
        <button type="button" class="menu-tab-item" data-target="#dinner">شام</button>
        <button type="button" class="menu-tab-item" data-target="#drinks">نوشیدنی</button>
        <button type="button" class="menu-tab-item" data-target="#desserts">دسر</button>
      </div>
    </div>
    {% for food in foods %}
      <div class="col-lg-4 col-md-6 special-grid {{ food.type_food|get_food_class }}">
        <div class="menu-item" data-aos="fade-up-left">
          <div class="menu-item-title">
            <img src="{{ food.image.url }}" alt="menu item" class="img-fluid">
            <h3>{{ food.title }}</h3>
          </div>
          <div class="menu-item-price">
            {{ food.price }} هزار تومان
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<!-- menu section end -->

<!-- testimonials section start -->
<section class="testimonials-section sec-padding" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 data-aos="fade-up" data-title="توصیفات">نظرات مشتریان</h2>
      </div>
    </div>
    <div class="row">
      <div class="testi-item" data-aos="zoom-in">
        <div class="testi-author">
          <div class="testi-author-name">
            <h3>نسرین مولایی</h3>
            <span>متخصص غذا</span>
          </div>
          <div class="testi-author-img">
            <img src="{% static 'img/testimonials/1.jpg' %}" alt="testi author img">
          </div>
        </div>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ...</p>
        <div class="ratings">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonials section end -->

<!-- team section start -->
<section class="team-section sec-padding" id="team">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 data-aos="fade-up" data-title="تیم">سرآشپزهای ما</h2>
      </div>
    </div>
    <div class="row">
      <div class="team-item" data-aos="flip-left" data-aos-duration="1000">
        <img src="{% static 'img/team/1.jpg' %}" alt="team item">
        <div class="team-item-info">
          <h3>ارشین حمتی</h3>
          <p>سر آشپز</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team section end -->

{% endblock content %}